/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

:root{
    font-size: 1.2em;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    color: #394058;
}

body{
    background-color: #ECF0F3;
    padding: 10px;
}
main{
    display: flex;
    justify-content: center
}
p{
    font-size: 0.8em;
}
hr{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin: 0.5em 0;
}
.info-container, .info-container-header, .info-content{
    border-radius: 0.4em;
    background: #ECF0F3;
    box-shadow:  3px 3px 6px #b1b4b6,
    -3px -3px 6px #ffffff;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.info-container{
    width: fit-content;
    max-width: 80%;
    border-radius: 1em;
    margin-top: 3em;
    padding: 1em 0 0 1em;
}
.info-container-header{
    width: auto;
    text-align: center;
    padding: 0.4em 0.8em;
    margin-bottom: 2em;
    margin-right: 1em;

}
.info-container-main{
    display: inline-block;
    vertical-align: top;

}
.info-content{
    float: left;
    padding: 0.4em 0.8em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 10em;
}
.response-textbox{
    
    margin: 0.4em 0;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
    
}
.response-format{
    overflow-x: scroll;
    border-radius: 5px;
background: inherit;
box-shadow: inset 2px 2px 4px #bebebe,
            inset -2px -2px 4px #ffffff;
    padding: 0 0.4em;
    margin: 0.5em 0;
}
.response-format::-webkit-scrollbar{
    height: 10px;
}
.response-format::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(145deg, #31da79, #29b866);
    box-shadow:  1px 1px 2px rgba(35, 46, 40, 0.3),
    -1px -1px 2px rgb(53, 235, 130, 0.3);
}
.response-format::-webkit-scrollbar-track{
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 1px 1px 2px #bebebe,
    inset -1px -1px 2px #ffffff;
}


*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

:root{
    --bgcolor:#353535;
}

*{
    margin: 0;
    padding: 0;
    color: rgb(212, 212, 212);
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url("/static/img/head-removebg.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: var(--bgcolor);
    
}

.container{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 80%;
    padding: 0.4em 0.8em;

}

header{
    margin-top: 5%;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}
header .container{
}
.container h1{
    text-align: center;
    
}


main{
    display: flex;
    justify-content: center;
}
